---
layout: default
---
<div class="page {{page.title | downcase }}">
  <h1 class="page-title">{{ page.title }}</h1>
  <small class="paper-metadata">
    {% if page.conference %}
    <i>{{page.conference}}</i>
    {% endif %}
    {% if page.paper %}
    (<a href={{page.paper}}>paper</a>)
    {% endif %}
    {% if page.artifact %}
    (<a href={{page.artifact}}>artifact</a>)
    {% endif %}
    {% if page.project %}
    (<a href={{page.project}}>project</a>)
    {% endif %}
  </small>
  <ul style="margin-top: 5px">
  {% for author in page.authors %}
  <li><b>{{author}}</b></li>
  {% endfor %}
  </ul>
  {{ content }}
</div>
